.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid #000;
  white-space: nowrap;
  vertical-align: middle;
  color: #000;
  background-color: #fff;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .3s ease-in-out;
}
